body {
    background-color: #2a2a2e;
    color: white;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: #4c4c58;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 25px;
}

#score-container {
    padding: 40px 0px 40px 0px;
}

#score-container h2 {
    font-size: 35px;
    margin: 0;
    text-align: center;
    padding: 10px;
}

#winner {
    display: none;
}

#choice-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#choice-container img {
    width: 256px;
    height: auto;
    padding-bottom: 20px;
}

#choice-container div {
    background-color: rgb(255, 255, 255);
    padding: 8px;
    margin: 16px;
    border: 5px solid black;
    border-radius: 25px;
}

#choice-container div:hover {
    border: 5px solid #b39802;
    background-color: rgba(255,255,255,0.95);
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset {
    background-color: rgba(0,0,0,0);
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 35px;
    padding: 10px 40px;
    margin-bottom: 50px;
    display: none;
}

#reset:hover {
    background-color: rgba(255,255,255,0.1);
}

#results-header {
    font-size: 35px;
    margin: 0;
    text-align: center;
    display: none;
}

#results-container p {
    text-align: center;
    font-size: 20px;
}